[Unit]
Description=CoreTexDB health check
After=coretexd.service

[Service]
Type=oneshot
User=coretex
Group=coretex
ExecStart=/opt/CoreTexDB-V0.2.2/scripts/healthcheck.sh
