[Unit]
Description=CoreTexDB backup
After=coretexd.service

[Service]
Type=oneshot
User=coretex
Group=coretex
ExecStart=/opt/CoreTexDB-V0.2.2/scripts/backup.sh
